div(class="bg-orange-400 shadow rounded-lg")
    img(class="object-cover h-72 w-full"  src=`/uploads/${propiedad.imagen}` alt=`imagen de la propiedad ${propiedad.titulo}`)
    div(class="p-5 space-y-5")
        h1(class="text-xl font-bold")= propiedad.titulo
        p(class="text-sm text-blanco font-bold") Habitaciones:  
                                span(class="text-beige font-bold")= propiedad.habitaciones
        p(class="text-sm text-blanco font-bold") WC:  
                                span(class="text-beige font-bold")= propiedad.wc
        p(class="text-sm text-blanco font-bold") Precio:  
                                span(class="text-beige font-bold")= propiedad.precio.nombre 
        a(href=`/propiedad/${propiedad.id}` class="bg-verde w-full text-center block font-bold text-white p-2 uppercase rounded") Ver Propiedad          
